
@model SocialService.ServiceLogic.ViewModels.IndexPageView

<table class="table">
    <tr><th>Имя</th><th>Возраст</th><th>Компания</th></tr>
    @foreach (var u in Model.Friends)
    {
        <tr><td>@u.Name</td><td>@u.Email</td><td>@u.Phone</td></tr>
    }
</table>
@if (Model.PageView.HasPrevius)
{
    <a asp-action="FriendsOfFriends"
       asp-route-page="@(Model.PageView.PageNumber - 1)"
       class="btn btn-primary">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previus
    </a>
}
@if (Model.PageView.HasNext)
{
    <a asp-action="FriendsOfFriends"
       asp-route-page="@(Model.PageView.PageNumber + 1)"
       class="btn btn-primary">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
<input type="hidden" id="userName" value="@User.Identity.Name" />
<p>Welcome to FoF</p>
<div id="listFriends"></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/js/friendsOfFriends.js"></script>
