@using Microsoft.AspNetCore.Identity
@model SocialService.ServiceLogic.ViewModels.UserView
@{
    ViewData["Title"] = "User Access";
}
<h1>@ViewData["Title"]</h1>

<p>User policy</p>
<input type="hidden" value="@User.Identity.Name" id="userName" />
<div id="list-users">

</div>
<div id="userRoleModal" class="modal" style="display:none;position:center">

    <div class="modal-content" style="width:200px;position:center">
        <span class="close" onclick="Close()">&times;</span>
        <h2>Edit Role</h2>
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="hidden" id="userNameEdit" />
                <input type="checkbox" name="roles" class="roles" value="@role.Name"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\" checked\"" : "") />@role.Name <br />
                }
        </div>
        <button type="button" class="btn btn-primary" onclick="EditFriend()">Save</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/js/userAccess.js"></script>
