@using Microsoft.AspNetCore.Identity
@model SocialService.ServiceLogic.ViewModels.UserView
@{
    ViewData["Title"] = "User Access";
}
<h1>@ViewData["Title"]</h1>

<p>User policy</p>
<input type="hidden" value="@User.Identity.Name" id="userName" />
<div id="list-users">

</div>
<div id="userRoleModal" class="modal" style="display:none;position:center">

    <div class="modal-content" style="width:200px;position:center">
        <span class="close" onclick="Close()">&times;</span>
        <h2>Edit Role</h2>
        @if (Model?.AllRoles != null)
        {
        @foreach (IdentityRole role in Model.AllRoles)
        {
        <input type="checkbox" name="roles" value="@role.Name"
               @(Model.UserRoles.Contains(role.Name) ? "checked=\" checked\"" : "" ) />@role.Name <br />
        }
        }
        <input type="button" id="submitEdit" value="Edit" onclick="EditFriend()" /><br />
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    var tokenKey = "accessToken";
    var token;
    var users;
    $(document).ready(function (e) {
        var loginData = {
            grant_type: 'password',
            username: $('#userName').val(),
            password: ''
        };
        $.ajax({
            type: 'POST',
            url: '/Account/Token',
            data: loginData,
            success: function (data) {
                sessionStorage.setItem(tokenKey, data.access_token);
                $.ajax({
                    type: 'GET',
                    url: '/api/User/GetUsers',
                    beforeSend: function (xhr) {
                        token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        var elemen = document.getElementById("list-users");
                        users = data;
                        elemen.innerHTML = "";
                        for (var i = 0; i < data.length; i++) {
                            elemen.innerHTML += "<br/><br/><div>" + data[i].name + " " + "<input type=\"button\" value=\"Delete\" id=\"deleteUser\"onclick=\"DeleteUserEvent(" + i + ")\"/>" + " " +
                                "<input type=\"button\" value=\"Change Role\" id=\"changeRole\" onclick=\"ChangeRoleEvent((" + i + ")\"/>" + "</div>"
                        }
                    },
                    fail: function (data) {
                        console.log(data);
                    }
                });
            }
        });

    });
    function ChangeRoleEvent(index) {
        $('.modal').css("display", "block");

    };
    function Close() {
        $('.modal').css("display", "none");
    };
    function DeleteUserEvent(index) {
        let user = users[index];
        $.ajax({
            type: 'POST',
            url: '/api/User/DeleteUser/' + user.name,
            beforeSend: function (xhr) {
                token = sessionStorage.getItem(tokenKey);
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                location.load();
                //$.ajax({
                //    type: 'GET',
                //    url: 'api/FriendAPI',
                //    beforeSend: function (xhr) {
                //        token = sessionStorage.getItem(tokenKey);
                //        xhr.setRequestHeader("Authorization", "Bearer " + token);
                //    },
                //    success: function (data) {
                //        var elemen = document.getElementById("list-friends");
                //        friends = data;
                //        elemen.innerHTML = "";
                //        for (var i = 0; i < data.length; i++) {
                //            elemen.innerHTML += "<br/><br/><div>" + data[i].name + " " + "<input type=\"button\" value=\"Delete\" id=\"deleteFriend\"onclick=\"DeleteFriendEvent(" + i + ")\"/>" + " " +
                //                "<input type=\"button\" value=\"Edit\" id=\"editFriend\" onclick=\"EditFriendEvent(" + i + ")\"/>" + "</div>"
                //        }
                //    },
                //    fail: function (data) {
                //        console.log(data);
                //    }
                //});
            },
            fail: function (data) {
                console.log(data);
            }
        });
    };
</script>
